<style>
    .btn-save {
        background-color:rgb(80, 140, 234);
        color:white;
    }
    .btn-delete {
        background-color:rgb(234, 80, 80);
        color:white;
    }
    .quantize__create-preset {
        margin-bottom: 15px;
    }
</style>
<div id="modelsBuilder" ng-controller="Quantize.controller">

    <div ng-show="false">
        Loading...
    </div>

    <div style="float: right;">
        <div class="quantize__create-preset">
            <input placeholder="Please enter a preset name" type="text" ng-model="presetName" />  
            <button type="button" class="btn umb-button__button btn-success" ng-click="addPreset()"><span>Add</span></button>    
        </div>
        
        <div>
            <!--<input placeholder="Name" type="text" ng-model="model.value.selectedPreset.name"/>-->            
            <select
                    ng-show="model.value.presets.length !== 0"
                    ng-model="model.value.selectedPreset"
                    ng-options="preset.Name for preset in model.value.presets"
                    ng-change="loadPreset()">
                <!--<option value="" style="color:lightgray">Please select an option&hellip;</option>-->
            </select>            
            <!--<button ng-show="model.value.presets.length !== 0" type="button" class="btn" ng-click="loadPreset()"><span>Load</span></button>-->       
            <button ng-show="model.value.presets.length !== 0" type="button" class="btn umb-button__button btn-save" ng-click="makePreset()"><span>Save</span></button>     
            <button ng-show="model.value.presets.length !== 0" type="button" class="btn umb-button__button btn-delete" ng-click="deletePreset()"><span>Delete</span></button>
        </div>
    </div>
</div>
